@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* background-color: rgb(255, 255, 255); */
    overflow-x: hidden;
    background-color: #292929;
    font-family: 'Belleza', sans-serif;
}

:root {
    --header-color: #D4A745;

    /* Paragraph color variable */
    --paragraph-color: #a0a0a0;

    --bg-color: #292929;
}