@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(255, 255, 255); */
    overflow-x: hidden;
    font-family: 'Belleza', sans-serif;
}

:root {
    --fancyHeader: "Dancing Script", cursive;
    --header-color: #D4A745;

    /* Paragraph color variable */
    --paragraph-color: #a0a0a0;

    --bg-color: #292929;
}