.teamContainer {
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

/* .textContainer {
    margin-bottom: 4em;
    margin-top: 4em;
}

.textContainer h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: var(--header-color);
}

.textContainer h1 {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.1em;
} */

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.barberImage {
    object-fit: cover;
    margin-bottom: 1rem;
}

.barberInfo {
    text-align: center;
}

.barberName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.barberDescription {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.teamImage {
    transition: opacity 1s ease-in-out;
  }