@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.aboutContainer {
    background-color: #fff;
    height: 100vh;
    position: relative;
}

.title {
    font-family: "Dancing Script", cursive;

}