.scrollSectionOuter {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin-bottom: 5em;
    overflow: hidden;
}

.textContainer {
    top: 5em;
    left: 6%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: start;
    z-index: 1;
    justify-content: last baseline;
}


.description {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.1em
}


.title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    z-index: 1;
    color: var(--header-color);
    text-transform: uppercase;
}

.serviceContainer {
    position: absolute;
    bottom: 5em;
    right: 6%;
    display: flex;
    gap: 1em;
    align-items: center;
    width: 40%;
    text-align: center;
    justify-content: center;
    z-index: 1;
    background-color: beige;
    padding: 2.5em;
}

.serviceTitle {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 700;
    flex: 0 0 60%;
    text-transform: uppercase;
    text-align: left;
}

.serviceDescription {
    color: #000000;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    flex: 0 0 40%;
    text-align: justify;
}


.scrollSectionInner {
    height: 100vh;
    width: 250vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.scrollSection {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-section h3 {
    color: white;
    letter-spacing: 10px;
    font-size: large;
    text-transform: uppercase;
}

.cardSection {
    position: relative;
}

.image {
    width: 100%;
    height: 70vh;
    object-fit: contain;
    filter: brightness(80%);
}

.imageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    font-weight: 700;
    z-index: 1;
    text-transform: uppercase;
}


/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {

    /* Text container */
    .textContainer {
        top: 1em;
        /* Adjust top spacing */
        left: 0;
        /* Reset left positioning */
        width: 100%;
        /* Adjust width to full width */
        text-align: start;
        /* Center align text */
        padding: 0 1em;
        /* Add padding for better spacing */
    }

    .description {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }


    .title {
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        z-index: 1;
        color: var(--header-color);
        text-transform: uppercase;
    }


    /* Service container */
    .serviceContainer {
        bottom: -8%;
        /* Adjust bottom spacing */
        right: 0;
        /* Reset right positioning */
        width: 100%;
        /* Adjust width to full width */
        text-align: center;
        /* Center align text */
        padding: 0.5 1em;
        /* Add padding for better spacing */
        background-color: beige;
        /* Add background color */
        display: flex;
        flex-direction: column;
    }

    .serviceTitle {
        font-size: 1.5em;
        /* Reduce font size for smaller screens */
        margin-bottom: 0.5em;
        /* Adjust margin for better spacing */
    }

    .serviceDescription {
        font-size: 0.8em;
        /* Reduce font size for smaller screens */
    }

    .scrollSection {
        width: 100%;
        /* Adjust width to full width */
        height: 100%;
        /* Adjust height to fit content */
    }

    .image {
        height: 400px;
        width: 500px;
    }

}